[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[packages]

flask = "*"
Flask-SQLAlchemy = "*"
"psycopg2" = "*"
Flask-Migrate = "*"
Flask-API = "*"
Flask-Script = "*"
gunicorn = "*"


[dev-packages]

