<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Flask Engine</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/main.css') }}">
  </head>
  <body>
    <h1>Flask Engine API</h1>
    <section>
      <h2>Introduction</h2>
      <p>Flask Engine is the Turing School's <a href="http://backend.turing.io/module3/projects/rails_engine">Rales Engine</a> project written in Python using Flask, SQLAlchemy, and Postgresql</p>
      <p>The code for the project can be found on github at: <a href="https://github.com/erose357/flask_engine">flask_engine</a>
      <p>Please also see <a href="https://erose357.github.io/flask-engine-sales/">Flask Engine Sales</a> a project consuming data from this API
    </section>
    <section>
      <h2>Available Endpoints</h2>
      <p>all endpoints return JSON</p>
      <p>base URL: <code>https://flask-engine-api/heroku.com</code></p>
      <h3>Merchants</h3>
      <p><code>GET /api/v1/merchants</code> - returns all merchants</p>
      <p><code>GET /api/v1/merchants/:id</code> - returns a merchant object for the <code><strong>:id</strong></code> that was passed in</p>
      <p><code>GET /api/v1/merchants/:id/invoices</code> - returns a merchant object for the <strong><code>:id</code></strong> that was passed in along with all related invoices</p>
      <p><code>GET /api/v1/merchants/:id/items</code> - returns a merchant object for the <code><strong>:id</strong></code> that was passed in along with all related items</p>
      <p><code>GET /api/v1/merchants/random</code> - returns a random merchant object</p>
      <h3>Customers</h3>
      <p><code>GET /api/v1/customers</code>  - returns all customers</p>
      <p><code>GET /api/v1/customers/:id</code>  - returns a customer object for the <code><strong>:id</strong></code> that was passed in</p>
      <p><code>GET /api/v1/customers/:id/invoices</code> - returns a customer object for the <strong><code>:id</code></strong> that was passed in along with all related invoices</p>
      <p><code>GET /api/v1/customers/random</code> - returns a random customer object</p>
    </section>
  </body>
</html>
